<!DOCTYPE HTML>
<html>
<head>
    <title>키워드 장소 찾기 앱</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars-v4.0.12.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/include.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1>키워드 장소 찾기 앱!</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="keyword" placeholder="키워드를 입력하세요.">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="search">검색</button>
    </div>
</div>

<br>
<div id="keywordSection">
    <ul class="list-group">
        <li class="list-group-item active">키워드 랭킹 TOP 10</li>
        {{#keywordRankDtoList}}
            <li class="list-group-item">{{keyword}} - {{totalcount}}회</li>
        {{/keywordRankDtoList}}
    </ul>
</div>

<div id="searchList" class="table">
    <table class="table">
        <colgroup>
            <col width="20%">
            <col width="30%">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">플레이스 이름</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="pageSection"></div>

<div id="detailSection">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>


<script id="list-template" type="text/x-handlebars-template">
            \{{#documents}}
                <tr>
                    <th scope="row">\{{ incremented @index }}</th>
                    <td><a id="\{{id}}" class="place" href="javascript:void(0)">\{{ place_name }}</a></td>

                </tr>
            \{{/documents}}
</script>


<script id="page-template" type="text/x-handlebars-template">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item prev"><a class="page-link prev" href="javascript:void(0)">Previous</a></li>
            \{{#times start end}}
            <li class="page-item item"><a class="page-link item" href="javascript:void(0)">\{{this}}</a></li>
            \{{/times}}
            <li class="page-item next"><a class="page-link next" href="javascript:void(0)">Next</a></li>
        </ul>
    </nav>
</script>
<script id="detail-template" type="text/x-handlebars-template">
            <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">\{{place_name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">카테고리 :</label>
                    <input type="text" class="form-control" id="category_name" value="\{{category_name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">주소 :</label>
                    <input type="text" class="form-control" id="address_name" value="\{{address_name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">도로명 주소:</label>
                    <input type="text" class="form-control" id="road_address_name" value="\{{road_address_name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">전화번호:</label>
                    <input type="text" class="form-control" id="phone" value="\{{phone}}"  readonly>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">웹 주소 :</label>
                    <input type="text" class="form-control" id="place_url" value="\{{place_url}}" readonly>
                </div>
             </div>
</script>

<script id="keywordRank-template" type="text/x-handlebars-template">
    <ul class="list-group">
        <li class="list-group-item active">키워드 랭킹 TOP 10</li>
        \{{#keywordRankDtoList}}
            <li class="list-group-item">\{{keyword}} - \{{totalcount}}회</li>
        \{{/keywordRankDtoList}}
    </ul>
</script>

<script>
    var meta;
    var document;
    var totalPageCount = 0;
    //set page option
    pagination.limit = 5;
    pagination.row = 15;

    $("#search").click(function() {
        main.search();

    });


    $(function() {
        Handlebars.registerHelper('incremented', function (index) {
            index++;
            return index;
        });

        Handlebars.registerHelper('times', function(start, end, block) {
            var accum = '';
            for(var i = start; i <= end; i+=1)
                accum += block.fn(i);
            return accum;
        });
    });



</script>



</body>
</html>